ENV=development

PORT=8080
MONGO_URI=mongodb://localhost:27017
MONGO_DB=go_meli
# Rate limiting
RATE_LIMIT=5    # tokens por segundo
RATE_BURST=10   # capacidad máxima del balde
LOG_DIR=./logs

# JWT
JWT_SECRET=haR26f*UBCcG8P5wwB2*vwL2GD
JWT_EXPIRATION=24h
